
<p>
  <%= @user.first_name %>,
</p>


<p>¡Hola bienvenido!.</p>

<p>Ya estás a un solo click para finalizar tu registro y comenzar a acumular con nosotros.</p>
<p><%= link_to "Perfil del socio: ", @user %></p>
